.jumbotron h1,
.jumbotron .h1 {
  line-height: 1;
  color: #000000;
}

p {
	color: #2A3E59;
}



.body .p {
	color: #A3B4BF;
}

.jumbotron {
	background-color: #FED630;
}

.progress-bar {
	 width:400px;
}